@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

:root {

    --body_background: rgb(255, 255, 255);
    --article_background-color: white;

}

body {



    background: var(--body_background);
}

main {
    background-color: var(--article_background-color);
    border-radius: 25px 25px 0 0;
    width: 100%;
    max-width: 500px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

article .article-capa-img {

    width: 100%;

}

article .div-btn-logo {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

article .div-btn-logo .user-img-content {

 

}

article .div-btn-logo .user-img-content img {
    border: 5px solid white;
    border-radius: 50%;
    width: 80px;

}


@media(max-width: 600px) {
    main {
        top: unset;
        width: 100%;
        max-width: 100%;
        left: unset;
        transform: unset;
        transform: unset;
        bottom: 0;
    }
}